body {
 width:600px;																																																	  
	
}
img{
	width:230px;

}
h1{
	font-size:50px;
	text-align:right;

	margin-right:100px;
}
h2{
		font-size:25px;

}
.naitik{
	margin-right:100px;
text-align:right;
}
h3{
	font-size:30px;
}
h4{
	font-size:30px;
}
.chotu{
	width: 700px;
    border: 3px solid black;
    padding: 40px;
    margin-left: 70%;
    background-color: #d1d1e0;
}
p{
	text-align:justify;
}

	





















